repos:
- repo: local
  hooks:

  - id: ruff-check
    name: Ruff check
    entry: ruff check --fix --show-fixes
    language: system
    types: [python]
    require_serial: true

  - id: ruff-format
    name: Ruff format
    entry: ruff format
    language: system
    types: [python]
    require_serial: true
